.navigation a {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 0 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  color: #212529;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.navigation a:hover {
  background-color: #f8f9fa;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.navigation .nav-link:hover {
  background-color: #f8f9fa;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Add your new styles below this line */

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.header-images {
  display: flex;
  justify-content: space-between;

  max-width: 900px;
  /* Adjust this value according to your needs */
  margin-top: 30px;
  margin-bottom: -40px;
}

.title-image {
  margin-left: 80px;
  width: 350px;
  margin-top: 50px;
}

.youtube-image {
  margin-left: 430px;
  margin-bottom: 20px;
  width: 68px;

  margin-right: 20px;
  display: block;
}

.twitter-image {
  width: 50px;
  margin-top: 5px;

}

.twitter-image,
.question-image,
.github-image {
  width: 50px;
  margin-top: 5px;
}

.github-image {
  background: white;
}

img.twitter-image:hover,
img.question-image:hover,
img.github-image:hover {
  opacity: 0.7;
  cursor: pointer;
}

img.twitter-image:active,
img.question-image:active,
img.github-image:active {
  position: relative;
  top: 3px;
}

/* YouTube Image Hover and Click Styles */
img.youtube-image:hover {
  opacity: 0.7;
  cursor: pointer;
}

img.youtube-image:active {
  position: relative;
  top: 3px;
}

.menu-container {
  display: flex;
  align-items: flex-start;
}

.menu-images img {
  margin-top: 26px;
  width: 255px;
  height: 45px;
  margin-right: 5px;
}

.menu-images img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.menu-images img:active {
  position: relative;
  top: 2px;
}

.menu-images img.no-effect:hover,
.menu-images img.no-effect:active {
  opacity: 1;
  cursor: auto;
  position: static;
}

.no-effect {
  margin-right: -130px;
}

.shift-left-1 {
  margin-left: 0px;
}

.shift-left-2 {
  margin-left: -30px;
}

.shift-left-3 {
  margin-left: -30px;
}

body,
p,
.footer,
.footer__navi li,
.footer__logo,
.copyright {
  color: #ffffff;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: black;
}

#unity-canvas {
  margin: 0 auto;
}

p {
  max-width: 960px;
  margin: 0 auto;
}

.introduction {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0 1rem;
}


.center-text {
  margin-right: 20px;
}

.social-icons {
  display: flex;
}

.icon {
  width: 32px;
  height: 32px;
  margin: 0 5px;
}

.canvas-container {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
}

.title-image {
  display: block;
  margin: 0;
}


p.intro {
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  margin: 20px 0;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  /* ���������w�i */
  padding: 20px;
  /* �w�i�ƃe�L�X�g�̊ԂɃX�y�[�X��ǉ� */
}

.content {
  max-width: 800px;
  font-family: 'Noto Serif', serif;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  margin: 20px 0;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  /* ���������w�i */
  padding: 40px;

}

.video-container {
  width: 95%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px;
}

#sketch-conteiner {
  margin: 0 auto;
  width: 80%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #9ca3af;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.flex {
  display: flex;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #35363b;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 15px;
  color: #9ca3af;
  background: black;
  width: 100%;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -1rem;
}

.footer__navi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer__navi li {
  display: inline-block;
  margin: 0 1rem;
  /* Adjust this value as per your requirement */
}

.footer__logo {
  margin: 0 1rem;
  /* Adjust this value as per your requirement */
}

.copyright {
  text-align: center;
}


@media (min-width: 768px) {
  .md-flex {
    display: flex;
  }

  .md-justify-between {
    justify-content: space-between;
  }

  .copyright {
    text-align: left;
  }
}


body,
p,
.footer,
.footer__navi li,
.footer__logo,
.copyright {
  color: #ffffff;
}

.centerh3 {
  text-align: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.image-item {
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
}

.image-item img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {

  /* 768px以下のデバイスのスタイルをここに記述 */
  body {
    overflow-x: hidden;
  }

  .header-images {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: -20px;
  }

  .title-image {
    margin-left: 0;
    width: 80%;
    margin-top: 25px;
  }

  .image-container {
    display: flex;
    justify-content: space-around;
    /* 画像を横に均等に配置 */
  }

  .youtube-image {
    margin-left: 0;
    margin-bottom: 10px;
    width: 34px;
    margin-right: 10px;
  }

  .twitter-image {
    width: 25px;
    margin-top: 2.5px;
  }


  .question-image,
  .github-image {
    width: 25px;
  }


  .menu-container {
    flex-direction: column;
    align-items: center;
  }

  .menu-images img {
    margin-top: 13px;
    width: 127.5px;
    height: 22.5px;
    margin-right: 2.5px;
  }

  .no-effect {
    width: 320px;
    margin-left: -120px;
  }

  .shift-left-1 {
    margin-left: 0;
  }

  .shift-left-2 {
    margin-left: -15px;
  }

  .shift-left-3 {
    margin-left: -15px;
  }

  .header {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
  }

  .canvas-container {
    flex-direction: column;
  }

  .content {
    max-width: 90%;
    padding: 20px;
  }

  .video-container {
    flex-direction: column;
  }

  #sketch-conteiner {
    width: 100%;
  }

}